<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation de Drone</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Simulation de Drone</h1>
    <div class="container">
        <div id="matrix" class="matrix-container"></div>
        <div class="control-container">
            <div class="slider-container">
                <span>1</span>
                <input type="range" min="0" max="1" step="0.01" value="0" class="slider" oninput="handleSliderChange(event)">
                <span>0</span>
                <span id="slider-value">0.00</span>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
